/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
slack-purple: #611f69;
*/
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
@media (max-width:768px){
    /* navbar */
    .nav{
        position: fixed;
            top:0px;
        height: 10vh;
        width: 100vw;
        background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: 1px solid lightgrey;
    }
    .nav>img{
        width: 20vw;
    }
    .nav-links{
        display: none;
    }

    /* hero */
    .hero{
        padding-top: 10vh;
    }
    .hero-img{
        display: none;
    }
    .hero-content{
        padding: 1rem;
        display: flex;
        flex-direction: column;

    }
    .hero-title{
        color: #2C303F;
        font-size: 3.6rem;
    }
    .hero-content p{
        color:#5b5e6d;
        font-size: 1.6rem;
        line-height: 1.45em;
        font-weight: 100;
    }
    .email,.button{
        width:90vw;
        margin-bottom: 1.2rem;
        font-size: 1.6rem;
        padding: 1.3rem;
        width: 100%;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .email{
        border: 1px solid #5b5e6d;
    }
    .button{
        background-color: #611f69;
        color: #fff;
    }
    /* company */
    .company{
        padding:1rem;
        background-color:#F4F3F4;
    }
    .company-title{
        color: #2C303F;
        font-size: 2.4rem
    }

    /* Footer */
    .footer-links-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer-logo {
        margin-right: 50vw;
    }
    .footer-links {
        width: 40vw;
    }
    .footer-bottom {
        display: flex;
        background-color: #5b5e6d;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    article p:last-child{
        text-align: center;
    }
}