/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
slack-purple: #611f69;
*/
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
@media (max-width:768px){
    /* navbar */
    .nav{
        position: fixed;
            top:0px;
        height: 10vh;
        width: 100vw;
        background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: 1px solid lightgrey;
    }
    .nav>img{
        width: 20vw;
    }
    .nav-links{
        display: none;
    }

    /* hero */
    .hero{
        padding-top: 10vh;
    }
    .hero-img{
        display: none;
    }
    .hero-content{
        padding: 1rem;
    }
    .hero-title{
        color: #2C303F;
    }
    .hero-content p{
        color:#5b5e6d;
        line-height: 1.45rem;
    }


    /* Footer */
    .footer-links-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer-logo {
        margin-right: 50vw;
    }
    .footer-links {
        width: 40vw;
    }
    .footer-bottom {
        display: flex;
        background-color: #5b5e6d;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}