/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
slack-purple: #611f69;
*/
body{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
@media (max-width:768px){
    /* navbar */
    .nav{
        position: fixed;
            top:0px;
        height: 10vh;
        width: 100vw;
        background-color: #fff;
        padding: 1rem;
        box-sizing: border-box;
        border-bottom: 1px solid lightgrey;
    }
    .nav>img{
        width: 20vw;
    }
    .nav-links{
        display: none;
    }

    /* hero */
    .hero{
        padding-top: 10vh;
    }
    .hero-img{
        display: none;
    }
    .hero-content{
        padding: 1rem;
        display: flex;
        flex-direction: column;

    }
    .hero-title{
        color: #2C303F;
        font-size: 2.4rem;
    }
    .hero-content p{
        color:#5b5e6d;
        line-height: 1.45rem;
    }
    .email,.button{
        width:90vw;
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
        padding: 1.8rem;
        width: 100%;
        border-radius: 4px;
    }
    .email{
        border: 1px solid #5b5e6d;
        box-sizing: border-box;
    }
    .button{
        width:90vw;
    }
    /* Footer */
    .footer-links-section {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .footer-logo {
        margin-right: 50vw;
    }
    .footer-links {
        width: 40vw;
    }
    .footer-bottom {
        display: flex;
        background-color: #5b5e6d;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .lang-and-social {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .legal {
        display: flex;
        justify-content: space-between;
        align-content: center;
        width: 50vw;
        list-style: none;
    }
    .lang {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .lang img {
        height: 1rem;
    }
}